/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 10px; /* Ensure header starts at the left edge */
    right: 10px; /* Ensure header extends to the right edge */
    z-index: 10;
    
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      padding: 10px;
      align-items: flex-start; /* Align items to the start to prevent overflow */
    }
  
    .header > * {
      width: 100%; /* Ensure all child elements take up 100% of the header's width */
      text-align: center; /* Optional: Center-align text */
      margin-bottom: 5px; /* Add space between elements when stacked */
    }
  }
  
  @media (max-width: 480px) {
    .header {
      padding: 12px;
    }
  }
  